/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #1A374D;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    font-family: sans-serif;
    background: linear-gradient(27.5deg,#1A374D 50%, #406882 50%);
    padding: 4rem;
}



::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15.625rem;
    padding: 0.625rem 0.875rem;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;  
}
.sidebar.close{
    width: 5.5rem;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 3.125rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 3.75rem;
    border-radius: 0.375rem;
}

.sidebar .icon{
    min-width: 3.75rem;
    border-radius: 0.375rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 1.0625rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 0.125rem;
    font-size: 1.125rem;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 1rem;
    margin-top: -0.125rem;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 2.5rem;
    border-radius: 0.375rem;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -1.5625rem;
    transform: translateY(-50%) rotate(180deg);
    height: 1.5625rem;
    width: 1.5625rem;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.375rem;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 2.5rem;
}

.sidebar{
    border-radius: 0.375rem;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
                                    
}

.sidebar input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 0.375rem;
    font-size: 1.0625rem;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 3.4375rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 0.375rem;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.cards{

    display: grid;
    width: 100%;
    grid-template-columns: repeat(18,4rem);
    grid-template-rows: repeat(12,4rem);
    grid-gap: 1rem;
}

.card{
    list-style: none;
    background: rgba(255,255,255,0.9);
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,0.2);
}


.left{
    margin-left: 2.5rem;
}

.card--first{
    grid-column: 1 / 7;
    grid-row:1 / 5 ;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.card--first > input{
    width: 70%;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    padding-left: 2rem;
}

.card--second{
    grid-column: 7 / 13;
    grid-row: 1 / 5;
}

.title{
    padding: 2rem;
}

.text1{
    padding: 2rem;
}

.card--third{
    grid-column: 13 / 19;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.card--third > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card--third > button{
    width: 15rem;
    height: 6rem;
    font-size: 2rem;
    font-family: sans-serif;
    border: none;
    background: #ee1515;
    color: #eee;
    border-radius: 0.5rem;
}

.card--forth{
    grid-column: 1 / 7;
    grid-row: 5 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.card--fifth{
    grid-column: 7 / 13;
    grid-row: 5 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.card--sixth{
    grid-column: 13 / 19;
    grid-row: 5 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.card--seventh{
    grid-column: 1 / 7;
    grid-row: 9 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    font-size: 1.5rem;
    
}

.card--eight{
    grid-column: 7 / 17;
    grid-row: 9 / 13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}


@media screen and (max-width: 87.5rem) {
    .card--second{
        
    }
    .card--third{
       
    }
}

@media screen and (max-width: 62.5rem) {
    body{
        background: #406882;
    }

    .card--first, .card--second{
        display: none;
    }

    .card--third {
        grid-area: auto;
        
    }
}